@using Microsoft.AspNetCore.Identity
@using Apoteka.Models

@inject SignInManager<Korisnik> SignInManager
@inject UserManager<Korisnik> UserManager
@inject RoleManager<Neo4j.AspNetCore.Identity.IdentityRole> _roleManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link" asp-page="/SveApoteke">Sve Apoteke</a>
        </li>
        <li class="nav-item">
            <a id="manage" class="nav-link" asp-page="/DodajApoteku" title="Manage">Dodaj Apoteku</a>
        </li>
        <li class="nav-item d-flex justify-content-center mb-2">
            <a id="manage" class="nav-link btn register" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><ion-icon style="font-size: 18px; vertical-align: -3px;" name="person-circle-outline"></ion-icon> Moj Profil</a>
        </li>
        <li class="nav-item d-flex justify-content-center mb-2">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn logout">Odjavi se</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a id="manage" class="nav-link" asp-page="/SveApoteke">Sve Apoteke</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn register" id="register" asp-area="Identity" asp-page="/Account/Register">Registruj se</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn login" id="login" asp-area="Identity" asp-page="/Account/Login">Prijavi se</a>
        </li>
    }
</ul>
